h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*tv50lq*_ga*ODEyMDU4MDUzMi4xNjc4MzUwNDkz*_ga_3LRZM6TM9L*MTY4MjQxMTkxOS43Ni4xLjE2ODI0MTY2NTkuMC4wLjA.");
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.price {
    color: blue;
}

#brushes {
    background: mediumspringgreen;
}


#frames {
    background: lightcoral;
}

#paint {
    background: skyblue;
}

* {
    font-family: Helvetica, serif;
}